In [2]:
import pandas as pd

df = pd.read_csv('/home/conrado/dados/Comunidade-DS/train.csv')

In [3]:
### LIMPANDO CÉLULAS "NaN" ###
linhas_selecionadas = (df['Delivery_person_Age'] != 'NaN ') 
df = df.loc[linhas_selecionadas, :].copy()

linhas_selecionadas = (df['Road_traffic_density'] != 'NaN ') 
df = df.loc[linhas_selecionadas, :].copy()

linhas_selecionadas = (df['City'] != 'NaN ') 
df = df.loc[linhas_selecionadas, :].copy()

linhas_selecionadas = (df['Festival'] != 'NaN ') 
df = df.loc[linhas_selecionadas, :].copy()

### CONVERTENDO A COLUNA "Delivery_person_Age" PARA NÚMERO INTEIRO (int) ###
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype( int )

### CONVERTENDO A COLUNA "Delivery_person_Ratings" PARA NÚMERO DECIMAL (float) ###
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype( float )

### CONVERTENDO A COLUNA "Order_Date" PARA FORMATO DE DATA ###
df['Order_Date'] = pd.to_datetime( df['Order_Date'], format='%d-%m-%Y' )

### CONVERTENDO A COLUNA "multiple_deliveries" DE TEXTO PARA NÚMERO INTEIRO (int) ###
linhas_selecionadas = (df['multiple_deliveries'] != 'NaN ')
df = df.loc[linhas_selecionadas, :].copy()
df['multiple_deliveries'] = df['multiple_deliveries'].astype( int )

### REMOVENDO ESPAÇOS NAS COLUNAS ###
df.loc[:, 'ID'] = df.loc[:, 'ID'].str.strip()
df.loc[:, 'Road_traffic_density'] = df.loc[:, 'Road_traffic_density'].str.strip()
df.loc[:, 'Type_of_order'] = df.loc[:, 'Type_of_order'].str.strip()
df.loc[:, 'Type_of_vehicle'] = df.loc[:, 'Type_of_vehicle'].str.strip()
df.loc[:, 'City'] = df.loc[:, 'City'].str.strip()
df.loc[:, 'Festival'] = df.loc[:, 'Festival'].str.strip()

### LIMPANDO A COLUNA TIME TAKEN ###
df['Time_taken(min)'] = df['Time_taken(min)'].apply( lambda x: x.split( '(min) ')[1] )
df['Time_taken(min)']  = df['Time_taken(min)'].astype( int )

In [89]:
df.loc[1:2]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26

In [4]:
len(df['Delivery_person_ID'].unique())

1320